# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist.bak
dist_old
dist-root
out-root
build-cloud
cloud-*
cld-*
*.idx
.sitedir.txt
_writetest.txt
_local_js.js
_online_js.js
_verify_index.html
.preview.log
.cloud_dir.txt
*.local

# dotenv environment variables file
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
